@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Hanken+Grotesk:wght@400;500;700&family=Inter:wght@400;700;800&family=Josefin+Sans:wght@100;400;700&family=League+Spartan:wght@500;700&family=Poppins&family=Roboto:ital,wght@0,700;1,400&family=Rubik+Mono+One&family=Rubik:ital,wght@0,700;0,800;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root{
    --primary:#6E38F7;
    --neutral:#95A1BB;
}
